* {
  box-sizing: border-box;
}

input {
  word-wrap: break-all;
}

.side-frame {
  position: fixed;
  height: 100%;
  width: 7%;
  top: 0;
  left: 0;
  background: linear-gradient(#000, #424242);
  z-index: 100;
}

.top-frame {
  position: fixed;
  height: 6%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, #424242);
  z-index: 100;
}

.sidebar {
  background: linear-gradient(#7289af, #4f6487);
  position: fixed;
  left: 3%;
  top: 6%;
  height: 94%;
  width: 22%;
  border-radius: 50px 0 0 0;
  z-index: 100;
}

.sidebar .add {
  font-size: 14px;
  margin-left: 28px;
}

.sidebar .add:focus {
  outline: none;
}

.sidebar h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.border {
  border-bottom: 1px solid #dee2e8;
  margin-top: 10px;
}

.sidebar h4 {
  font-family: 'Open Sans', serif;
  font-weight: 500;
  margin-left: 1.5em;
  position: relative;
}

.chat-rooms {
  color: #000;
}

.chat-rooms:hover {
  cursor: pointer;
}

.bkgrd {
  width: 60%;
  top: 20px;
  box-sizing: border-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  z-index: 2;
  outline: none;
}

.modal-content .modal-title {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.4em;
  margin-left: 30px;
}

.modal-content .modal-body {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 30px;
  border: none;
}

.modal-content .modal-body .instruction {
  margin-bottom: 10px;
}

.modal-content .modal-body input {
  line-height: 2.5em;
  border: solid 2.5px #4e4f5e;
  box-shadow: inset 0 0 0 1px #707070;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  transition: box-shadow 0.3s, border 0.3s, ease-in;
}

.modal-content .modal-body .add-room input:focus {
  border: solid 5px ##393a49;
  outline: none;
}

.modal-content .modal-body .add-room .btn {
  position: relative;
  border: none;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  background-color: #b8bbc1;
}

.modal-content .modal-body .add-room .btn-room {
  background-color: #9a9fa8;
  color: #FFF;
}

.log-in:hover {
  cursor: pointer;
}

.chat-container {
  position: fixed;
  display: block;
  left: 25%;
  top: 6%;
  width: 75%;
  height: 84%;
  background: #FFF;
  overflow: scroll;
}

.chat-container .title {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  display: block;
  width: 71%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
  right: 20px;
  text-align: right;
  margin-right: 20px;
  font-size: 1.8em;
  font-weight: 500;
  z-index: 100;
}

.message-container {
  width: 95%;
}

.message-container .author-BF {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #680000;
}

.message-container .author-TK {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #680000;
}

.message-container .author-AH {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #8c8c8c;
}

.message-container .author-EK {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #8c8c8c;
}

.message-container .author-ZZ {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #515050;
}

.message-container .author-DL {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  border-radius: 100%;
  background: #002259;
}

.message-container .initials {
  display: inline-block;
  margin-top: 10px;
  margin-left: 9.5px;
  color: #FFF;
}

.message-container .content {
  display: inline-block;
  font-family: 'Raleway', serif;
  margin-left: 10px;
  font-size: 1.1em;
  max-width: 700px;
  word-wrap: normal;
}

.message-container .timestamp {
  display: block;
  font-family: 'Raleway', serif;
  font-size: .95em;
  color: rgba(0, 0, 0, 0.3);
  float: right;
}

.form-control {
  position: fixed;
  bottom: 15px;
  right: 85px;
  margin-left: 15px;
  width: 67% !important;
  color: rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder:focus {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

.buffer {
  position: fixed;
  bottom: 9%;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.form-control:focus {
  color: rgba(0, 0, 0, 0.8);
}

.emoji {
  position: fixed;
  bottom: 17px;
  right: 100px;
}

.fa-smile-o:hover {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

@media (min-width: 40rem) {
  html { font-size: 80% }

  .sidebar h2 {
    margin-left: 5px;
  }

  .sidebar .add {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  html {font-size: 100%}
}
