* {
  box-sizing: border-box;
}

.side-frame {
  position: fixed;
  height: 100%;
  width: 7%;
  top: 0;
  left: 0;
  background: linear-gradient(#000, #424242);
}

.top-frame {
  position: fixed;
  height: 9%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, #424242);
}

.sidebar {
  background: linear-gradient(#7289af, #4f6487);
  position: fixed;
  left: 3%;
  top: 6%;
  height: 94%;
  width: 22%;
  border-radius: 50px 0 0 0;
}

.sidebar .add {
  background-color: rgba(212, 216, 221, .8);
  display: inline-block;
  margin: 0 10px 0 10px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 14px;
  border-radius: 4px;
}

.sidebar .add:focus {
  outline: none;
}

.sidebar h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.border {
  border-bottom: 1px solid #dee2e8;
  margin-top: 10px;
}

.sidebar h4 {
  font-family: 'Open Sans', serif;
  font-weight: 500;
  margin-left: 1.5em;
  position: relative;
}

.chat-rooms {
  color: #000;
}

.chat-rooms:hover {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  z-index: 2;
  outline: none;
}

.modal-content .modal-title {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.4em;
  margin-left: 30px;
}

.modal-content .modal-body {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 30px;
  border: none;
}

.modal-content .modal-body .instruction {
  margin-bottom: 10px;
}

.modal-content .modal-body input {
  line-height: 2.5em;
  border: solid 2.5px #4e4f5e;
  box-shadow: inset 0 0 0 1px #707070;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  transition: box-shadow 0.3s, border 0.3s, ease-in;
}

.modal-content .modal-body .add-room input:focus {
  border: solid 5px ##393a49;
  outline: none;
}

.modal-content .modal-body .add-room .btn {
  position: relative;
  border: none;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  background-color: #b8bbc1;
}

.modal-content .modal-body .add-room .btn-room {
  background-color: #9a9fa8;
  color: #FFF;
}

.chat-container {
  position: absolute;
  left: 25%;
  top: 6%;
  width: 75%;
  height: 94%;
  background: #FFF;
}

.chat-container .title {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-align: right;
  margin-right: 20px;
  font-size: 1.8em;
  font-weight: 500;
}

.message-container {
  width: 95%;
}

.message-container .author-BF {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #680000;
}

.message-container .author-TK {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #680000;
}

.message-container .author-AH {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #8c8c8c;
}

.message-container .author-EK {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  border-radius: 100%;
  background: #8c8c8c;
}

.message-container .initials {
  display: inline-block;
  margin-top: 10px;
  margin-left: 9.5px;
  color: #FFF;
}

.message-container .content {
  display: inline-block;
  font-family: 'Raleway', serif;
  margin-left: 10px;
  font-size: 1.1em;
}

.message-container .timestamp {
  display: block;
  font-family: 'Raleway', serif;
  font-size: .95em;
  color: rgba(0, 0, 0, 0.3);
  float: right;
}

.form-control {
  position: fixed;
  bottom: 15px;
  margin-left: 15px;
  width: 70% !important;
  color: rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 40rem) {
  html { font-size: 80% }

  .sidebar h2 {
    margin-left: 5px;
  }

  .sidebar .add {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  html {font-size: 100%}
}
